body {
    width: 100%;
    background-color: #fff;
}
.container-fluid {
    width:1200px;
    margin: 50px auto;
    background-color: #EEEEEE;
}
.row {
    margin-left: 430px;
    padding-top: 50px;
    }
.bigTitle .smallTitle{
    font-family: Algerian;

}
.up {
    width:1200px;
    padding: 0 80px;
}
.down {
    width: 750px;
    padding: 0 200px;
}
ul {
    width:700px;
}
.footer {
    width: 1200px;
    height: 50px;
    border-top: hidden;
}
.t {
    padding-left: 800px;

}