* {
    margin: 0;
    padding: 0;
}
.content {
    width:686px;
    border: 1px solid #3C3F41;
    margin: 300px auto;
}
.header {
    height: 50px;
    width: 100%;
    background-color: #323232;
}
h2 {

    float: left;
    color: #DDDDDD;
    margin-left: 35px;
    line-height: 50px;
}
.enter {
    width: 360px;
    height: 28px;
    float: right;
    margin-right: 50px;
    margin-top: 11px;
    border-radius: 5px;
}
.desk {
    width: 100%;
    background-color: #CDCDCD;
}
.run {
    width: 100%;
}
.finish {
    width: 100%;

}